<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<span th:fragment="left">
 <div class="vernav2 iconmenu">
    	<ul>
            <li><a href="#formsub" class="editor">快捷新增</a>
            	<span class="arrow"></span>
            	<ul id="formsub">
               		<li><a th:href="@{/tables}">线索</a></li>
                    <li><a th:href="@{/tables}">客户</a></li>
                    <li><a th:href="@{/tables}">合同</a></li>
                </ul>
            </li>
             <li><a href="#addons" class="addons">工作台</a>
            	<span class="arrow"></span>
            	<ul id="addons">
               		<li><a th:href="@{/tables}">销售简报</a></li>
                    <li><a th:href="@{/tables}">业绩排行</a></li>
                    <li><a th:href="@{/tables}">任务</a></li>
                    <li><a th:href="@{/tables}">公告栏</a></li>
                </ul>
            </li>
            <li><a th:href="@{/Clue/getClue}" class="error">线索</a>

            </li>

             <li><a th:href="@{/Customer/getCustomerList}" class="addons">客户</a>
            </li>
            <li><a href="#contract" class="editor">合同</a>
            	<span class="arrow"></span>
            	<ul id="contract">
               		<li><a th:href="@{/tables}">新增合同</a></li>
                    <li><a th:href="@{/tables}">查看合同</a></li>
                </ul>
            </li>
            <li><a href="#Reportform" class="editor">报表中心</a>
            	<span class="arrow"></span>
            	<ul id="Reportform">
               		<li><a th:href="@{/tables}">跟进业务报表</a></li>
                    <li><a th:href="@{/tables}">业务报表</a></li>
                    <li><a th:href="@{/tables}">分析类</a></li>
                </ul>
            </li>
            <li><a href="#work" class="editor">工作报告</a>
            	<span class="arrow"></span>
            	<ul id="work">
               		<li><a th:href="@{/tables}">新增报告</a></li>
                    <li><a th:href="@{/tables}">查看报告</a></li>
                </ul>
            </li>
             <li><a href="#Followup" class="addons">跟进记录</a>
            	<span class="arrow"></span>
            	<ul id="Followup">
               		<li><a th:href="@{/tables}">新增跟进记录</a></li>
                    <li><a th:href="@{/tables}">查询</a></li>
                </ul>
            </li>
            <li >以上是项目模板现在都是跳转tables.html</li>
            <li >以下是参照素材模板后期会删掉</li>
        	<li><a href="#formsub1" class="editor">表单提交</a>
            	<span class="arrow"></span>
            	<ul id="formsub1">
               		<li><a th:href="@{/forms}">基础表单</a></li>
                    <li><a th:href="@{/wizard}">表单验证</a></li>
                    <li><a th:href="@{/editor}">编辑器</a></li>
                </ul>
            </li>
            <li><a th:href="@{/elements}" class="elements">网页元素</a></li>
            <li><a th:href="@{/widgets}" class="widgets">网页插件</a></li>
            <li><a th:href="@{calendar}" class="calendar">日历事件</a></li>
            <li><a th:href="@{/support}" class="support">客户支持</a></li>
            <li><a th:href="@{/typography}" class="typo">文字排版</a></li>
            <li><a th:href="@{/tables}" class="tables">数据表格</a></li>
			<li><a th:href="@{/buttons}" class="buttons">按钮 &amp; 图标</a></li>
            <li><a href="#errorr" class="error">错误页面</a>
            	<span class="arrow"></span>
            	<ul id="errorr">
               		<li><a th:href="@{/notfound}">404错误页面</a></li>
                    <li><a th:href="@{/forbidden}">403错误页面</a></li>
                    <li><a th:href="@{/internal}">500错误页面</a></li>
                    <li><a th:href="@{/offline}">503错误页面</a></li>
                </ul>
            </li>
            <li><a href="#addons1" class="addons">其他页面</a>
            	<span class="arrow"></span>
            	<ul id="addons1">
               		<li><a th:href="@{/newsfeed}">新闻订阅</a></li>
                    <li><a th:href="@{/profile}">资料页面</a></li>
                    <li><a th:href="@{/productlist}">产品列表</a></li>
                    <li><a th:href="@{/photo}">图片视频分享</a></li>
                    <li><a th:href="@{/gallery}">相册</a></li>
                    <li><a th:href="@{/invoice}">购物车</a></li>
                </ul>
            </li>
        </ul>
        <a class="togglemenu"></a>
        <br /><br />
    </div><!--leftmenu-->
</span>
</html>
