<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>导航栏</title>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Gretong Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <link th:href="@{/css/bootstrap.min.css}" rel='stylesheet' type='text/css' />

    <link th:href="@{/css/style.css}" rel='stylesheet' type='text/css' />

    <link th:href="@{/css/font-awesome.css}" rel="stylesheet"/>

    <link th:href='@{https://fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400}' rel='stylesheet' type='text/css'/>
    <link th:href='@{https://fonts.googleapis.com/css?family=Montserrat:400,700}' rel='stylesheet' type='text/css'/>

    <link rel="stylesheet" th:href="@{css/icon-font.min.css}" type='text/css' />
    <script th:src="@{/js/amcharts.js}"></script>
    <script th:src="@{/js/serial.js}"></script>
    <script th:src="@{/js/light.js}"></script>

    <script th:src="@{/js/jquery-1.10.2.min.js}"></script>

    <script th:src="@{/js/pie-chart.js}" type="text/javascript"></script>

</head>
<body>

<div class="sidebar-menu">
    <header class="logo1">
        <a th:href="@{#}" class="sidebar-icon"> <span class="fa fa-bars"></span> </a>
    </header>
    <div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
    <div class="menu">
        <ul id="menu" >
            <li><a th:href="@{sweater.html}"><i class="lnr lnr-pencil"></i> <span>快捷新增</span></a></li>
            <li><a th:href="@{index.html}"><i class="fa fa-tachometer"></i> <span>工作台</span></a></li>
            <li id="menu-academico" ><a th:href="@{sunglasses.html}"><i class="fa fa-file-text-o"></i> <span>线索</span></a></li>
            <li><a th:href="@{sweater.html}"><i class="lnr lnr-pencil"></i> <span>客户</span></a></li>
            <li id="menu-academico" ><a th:href="@{catalog.html}"><i class="fa fa-file-text-o"></i> <span>合同</span></a></li>
            <li id="menu-academico" ><a th:href="@{shoes.html}"><i class="lnr lnr-book"></i> <span>产品</span></a></li>
            <li id="menu-academico" ><a th:href="@{sunglasses.html}"><i class="fa fa-file-text-o"></i> <span>报表中心</span></a></li>
            <li><a th:href="@{bags.html}"><i class="lnr lnr-envelope"></i> <span>工作报告</span></a></li>
            <li id="menu-academico" ><a th:href="@{sunglasses.html}"><i class="fa fa-file-text-o"></i> <span>跟进记录</span></a></li>
            <li><a th:href="@{products.html}"><i class="lnr lnr-chart-bars"></i> <span>业绩提成</span></a></li>
            <li><a th:href="@{products.html}"><i class="lnr lnr-chart-bars"></i> <span>费用报销</span></a></li>

        </ul>
    </div>
</div>




</body>
</html>
</html>