<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<span th:replace="/commons/header::header"></span>
<span th:replace="/commons/left::left"></span>

<div class="centercontent">

            <div class="contenttitle2">
                <h3 style="display: inline-block;"> 新增客户<span style="margin-left: 30px;color: red;">标注*的不是必填项</span></h3>
                <a style="margin-left:30px;margin-top: 0px; border-radius: 5px;background-color:#0f91f5;font-size:16px;color:#fff;width:80px;height: 30px ;display: inline-block;text-align: center; line-height:30px;" th:href=" @{/Customer/getCustomerList}" class="shanchu">客户列表</a><br/>
            <form th:action="@{/Customer/setCustomer}" class="stdform stdform2" method="post" action="">
                <p>
                    <label>姓名</label>
                    <span class="field"><input type="text" name="customer_name" id="firstname1" class="longinput"  required="required" /></span>
                </p>



                <p>
                    <label>性别</label>
                    <span class="field" >
                            	<input type="radio" name="customer_gender" value="1" checked="checked" required="required"/> 男 &nbsp; &nbsp;
                            	<input type="radio" name="customer_gender" value="0" /> 女 &nbsp; &nbsp;
                                </span>
                </p>
                <p>
                    <label>联系电话</label>
                    <span class="field" ><input required="required" name="customer_number" type="text"  id="phone" maxlength="11" onkeyup="this.value=this.value.replace(/\D/g,'')" /></span>
                </p>
                <p>
                    <label>负责人</label>
                    <span class="field" >
                        <select name="user_id"  id="selection2" required="required" >
                                <option  th:value="${user.current.user_id}"
                                         th:each="item,user:${#httpServletRequest.getAttribute('userList')}"
                                         th:text="${user.current.user_name}" >

                                </option>
                         </select>
                    </span>
                </p>
                <p>
                    <label>消费金额</label>
                    <span class="field" ><input name="customer_money" required="required" type="number"  id="money" maxlength="6" min="0" step="50"/></span>

                </p>
                <p>
                    <label>级别</label>
                    <span class="field" >
                            	<input type="radio" name="customer_jurisdiction" value="4" checked="checked" required="required"/> 普通客户 &nbsp; &nbsp;
                            	<input type="radio" name="customer_jurisdiction"  value="5"/>白银客户 &nbsp; &nbsp;
                                <input type="radio" name="customer_jurisdiction" value="6" /> 黄金客户 &nbsp; &nbsp;
                            	<input type="radio" name="customer_jurisdiction" value="7" />钻石客户 &nbsp; &nbsp;

                    </span>
                </p>
                <p>
                    <label>家庭住址*</label>
                    <span class="field"><input type="text" name="customer_address" id="firstname2" class="longinput" /></span>
                </p>
                <p>
                    <label>客户生日*</label>
                    <span class="field"><input type="date" name="customer_birthday" id="firstname" class="longinput" /></span>
                </p>

                <p>
                    <label>客户需求*<small>备注*</small></label>
                    <span class="field"><textarea cols="80" rows="5" name="customer_text" id="location2" class="longinput"></textarea></span>
                </p>

                <br />

                <p class="stdformbutton">
                    <button type="submit" class="submit radius2">提交</button>
                    <input type="reset" class="reset radius2"/>
                </p>
            </form>

        </div><!--subcontent-->

</div><!-- centercontent -->

<span th:replace="/commons/js::js"></span>
</html>
