<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div id="contentwrapper" class="contentwrapper">
    <span th:replace="/commons/header::header"></span>
    <span th:replace="/commons/left::left"></span>
    <span th:replace="/commons/js::js"></span>

    <style>

        #lean_overlay {
            position: fixed;
            z-index:100;
            top: 0px;
            left: 0px;
            height:100%;
            width:100%;
            background: #000;
            display: none;
        }
        #show {display:none;}
    </style>
<script>
    window.onload=function () {
        var dqy=$("#shangyiye").val();
        var lastno=$("#weiye").val();
        if(dqy==0){
            $("#shouye").hide();
            $("#shangyiye").hide();
        }
    }
   function selectlist() {
        var user_name = $("#user_name").val();
        var customer_name= $("#customer_name").val();
       var customer_gender= $("#customer_gender").val();
        var user_jurisdiction =$("#user_jurisdiction").val();
        var  pagesize=$("#pagesize").val();
        $("#tabess").load("/Customer/getCustomerListone",{
            user_name:user_name,
            customer_name:customer_name,
            customer_gender:customer_gender,
            user_jurisdiction:user_jurisdiction,
            pagesize:pagesize,
        })
   }


    function toone() {
        var user_name = $("#user_name").val();
        var customer_name= $("#customer_name").val();
        var customer_gender= $("#customer_gender").val();
        var user_jurisdiction =$("#user_jurisdiction").val();
        var currentno=$("#shouye").val();
        var  pagesize=$("#pagesize").val();
        if (currentno==0){
            $("#shouye").hide()
        } else {
        $("#tabess").load("/Customer/getCustomerListone",{
            user_name:user_name,
            customer_name:customer_name,
            customer_gender:customer_gender,
            user_jurisdiction:user_jurisdiction,
            currentno:currentno,
            pagesize:pagesize,
        })}
    }

    function toon() {

        var user_name = $("#user_name").val();
        var customer_name= $("#customer_name").val();
        var customer_gender= $("#customer_gender").val();
        var user_jurisdiction =$("#user_jurisdiction").val();
        var currentno=$("#shangyiye").val();
        var  pagesize=$("#pagesize").val();
        if (currentno==0){
            alert("已经是第一页了");
            $("#shouye").hide();
            $("#shangyiye").hide();
        } else {
        $("#tabess").load("/Customer/getCustomerListone",{
            user_name:user_name,
            customer_name:customer_name,
            customer_gender:customer_gender,
            user_jurisdiction:user_jurisdiction,
            currentno:currentno,
            pagesize:pagesize,
        })}
    }
    function tonext() {

        var user_name = $("#user_name").val();
        var customer_name= $("#customer_name").val();
        var customer_gender= $("#customer_gender").val();
        var user_jurisdiction =$("#user_jurisdiction").val();
        var currentno=$("#xiayiye").val();
        var lastno=$("#weiye").val();
        var  pagesize=$("#pagesize").val();
        var last=Number(lastno) +1;
        if (currentno==last){
            alert("已经是最后一页");
            $("#xiayiye").hide();
            $("#weiye").hide();
        }else {
        $("#tabess").load("/Customer/getCustomerListone",{
            user_name:user_name,
            customer_name:customer_name,
            customer_gender:customer_gender,
            user_jurisdiction:user_jurisdiction,
            currentno:currentno,
            pagesize:pagesize,
        })}
    }
    function tolast() {
        var user_name = $("#user_name").val();
        var customer_name= $("#customer_name").val();
        var customer_gender= $("#customer_gender").val();
        var user_jurisdiction =$("#user_jurisdiction").val();
        var currentno=$("#weiye").val();
        var  pagesize=$("#pagesize").val();
        $("#tabess").load("/Customer/getCustomerListone",{
            user_name:user_name,
            customer_name:customer_name,
            customer_gender:customer_gender,
            user_jurisdiction:user_jurisdiction,
            currentno:currentno,
            pagesize:pagesize,
        })
    }



</script>


    <div class="centercontent">
        <div class="contenttitle2">
            <h3>客户列表</h3>
        </div><!--contenttitle-->
        <div class="tableoptions">
                <input type="text" name="user_name" id="user_name"  class=" radius3" style="width: 85px;height:14px;font-size:14px;padding:15px 0px;" title="负责人名字" placeholder="负责人名字"/>
                <input style="width: 85px;height:14px;font-size:14px;padding:15px 0px;" type="text" name="customer_name" id="customer_name"  title="客户姓名"  placeholder="客户姓名"/>

                <select  name="user_jurisdiction"  id="user_jurisdiction" class="radius3">
                    <option th:value="${session.loginUser.user_jurisdiction}">全部客户</option>
                    <option  th:value="${session.loginUser.user_id}">我的客户</option>
                    <option th:value="${session.loginUser.user_jurisdiction}-1">我的下属客户</option>
                </select>
            <select style="width: 85px;height: 30px;margin-top: 5px;border-radius: 4px;box-shadow: inset  1px 1px ;"  name="customer_gender"  id="customer_gender">
                <option value=" ">客户性别</option> <option value="1">男</option><option value="0">女</option>
            </select>

            <select id="pagesize" style="width: 50px !important;height: 30px;margin-left:5px;margin-top: 5px;border-radius: 4px">
                <option value="5" >5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
            </select>
            <a style="margin-left:10px; "  onclick="selectlist()" class="btn btn2 btn_blue btn_search radius50"><span>查询</span></a>
            <a th:href=" @{/Customer/toaddCustomer}" style="display:inline-block;margin-left: 420px;" class="btn btn2 btn_blue btn_flag"><span>新增客户</span></a>
        </div><!--tableoptions-->

        <div id="tabess" th:fragment="tablelist">
            <table cellpadding="0" cellspacing="0" border="0" id="table2" class="stdtable stdtablecb" style="text-align: center;">
                <colgroup>
                    <col class="con1" style="width: 15%;"/>
                    <col class="con0"  style="width: 15%;" />
                    <col class="con1" style="width: 20%;"  />
                    <col class="con0" style="width: 20%;"/>
                    <col class="con1" style="width: 20%;"/>
                    <col class="con0" style="width: 28%;"/>
                </colgroup>
                <thead>
                <tr>
                    <th class="head0" style="font-size: 13px;text-align: center;">姓名</th>
                    <th class="head1" style="font-size: 13px;text-align: center;">性别</th>
                    <th class="head0" style="font-size: 13px;text-align: center;">电话</th>
                    <th class="head1" style="font-size: 13px;text-align: center;">负责人</th>
                    <th class="head1" style="font-size: 13px;text-align: center;">备注</th>
                    <th class="head1" style="font-size: 13px;text-align: center;">操作</th>

                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th class="head1" ></th>
                    <th class="head0"></th>
                    <th class="head1" ></th>
                    <th class="head0"></th>
                    <th class="head1" ></th>
                    <th class="head1"></th>
                    <th class="head1" ></th>

                </tr>
                </tfoot>

            <tbody >
            <tr  th:each="item,clist:${#httpServletRequest.getAttribute('customers')}" >
                <td class="customerid" style="display: none;" value="1"></td>
                <td th:text="${clist.current.customer_name}"></td>
                <td th:text="${clist.current.customer_gender==1 ?'男':'女'}" ></td>
                <td th:text="${clist.current.customer_number}"></td>
                <td th:text="${clist.current.user_name}"></td>
                <td th:text="${clist.current.customer_text}"></td>
                <td style="width: 70px;">
                <button th:attr="sj_uri=@{/Customer/updateCustomerJ/}+${clist.current.customer_id},cuj=${clist.current.customer_jurisdiction}"  style="border-radius: 5px;background-color:green;color:#fff;width:60px;height: 30px ;" class="shengji">升级</button><br/>
                <button th:attr="del_uri=@{/Customer/toupdateCustomer/}+${clist.current.customer_id}" style="border-radius: 5px;background-color:blue;color:#fff;width:60px; height: 30px;" class="xiugai">修改</button>
                </td>
            </tr>
         <tr id="tablestr">

         </tr>
            </tbody>
        </table>


        <div id="pages_div">

            <span>共查询到</span><li th:text="${session.page.getTotalCount()}" style="display: inline-block;margin: 10px" ></li><span>条记录&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            第</span>
            <span th:text="${session.page.currentPageNo}"></span>/<span th:text="${session.page.getTotalPageCount()}"></span>
            <ul style="display: inline-block;font-size: 16px;margin-left: 700px;margin-top: -20px;">
                <button   onclick="toone()" id="shouye" value="1" style="margin: 10px;" >首页</button>
                <button   onclick="toon()" id="shangyiye" th:value="${session.page.currentPageNo -1}" style=" margin: 10px">上一页</button>
                <button   onclick="tonext()" id="xiayiye" th:value="${session.page.currentPageNo +1}" style=" margin: 10px">下一页</button>
                <button   onclick="tolast()" id="weiye" th:value="${session.page.getTotalPageCount()}" style="margin: 10px">尾页</button>

            </ul>

        </div>
        <p id="uid" th:value="${session.loginUser.user_id}"></p>

        </div>
</div>

</div>
<div id="show"  style="text-align:center;border-radius:10px;width:500px;height:200px;font-size: 20px;color: #eeeeee; background-color: rgba(0,0,0,0.7)" >
                    <span class="field" style="text-align:center;display:inline-block;margin-top: 70px;">
                        <h3>请选择要升级到的等级</h3><br/><br/>
                            <span id="pt"><input type="radio" name="customer_jurisdiction" value="4"  required="required"/> 普通客户</span> &nbsp; &nbsp;
                            <span id="by"><input type="radio" name="customer_jurisdiction" value="5"  required="required"/>白银客户</span> &nbsp; &nbsp;
                            <span id="hj"><input type="radio" name="customer_jurisdiction" value="6"  required="required"/>黄金客户 </span>&nbsp; &nbsp;
                            	<input id="zs"   type="radio" name="customer_jurisdiction" value="7"  required="required"/>钻石客户 &nbsp; &nbsp;
                        <input style="width: 50px; height:30px;background-color: #0f91f5 ;color: #eeeeee;" value="提交" type="button" onclick="sj()"/>

                    </span>
</div>
<a href="#show" id="modaltrigger"></a>
<!--修改功能实现-->
<form id="updatecomm" >

</form>
<script>
    $(".xiugai").live('click',function (){
        $("#updatecomm").attr("action",$(this).attr("del_uri")).submit();
        return false;
    })
    /*全局变量存提交升级地址*/
    var sjurl;

    /*升级功能实现*/
   $(".shengji").live('click',function fun(){
      var cj =$(this).attr("cuj");
       sjurl =$(this).attr("sj_uri");
        if (cj>=4) {
            $("#pt").remove();
            $("#modaltrigger").click();
        }
       if (cj>=5) {
           $("#pt").remove();
           $("#by").remove();
           $("#modaltrigger").click();
       }
       if (cj>=6) {
           $("#pt").remove();
           $("#by").remove();
           $("#hj").remove();
           $("#modaltrigger").click();
       }
       if (cj==7) {
           $("#show").hide();
          alert("已是目前最高等级");
       }
    })
   function sj() {
        var customer_jurisdiction=$('input[name="customer_jurisdiction"]:checked').val();
       if (customer_jurisdiction==null){
           alert("您还没有选择");
           fun();
       }
        $.ajax({
            type    :'get',
            url     :sjurl,
            data    :{customer_jurisdiction:customer_jurisdiction},
            datatype:'text',
            success :function (res) {
                $("#show").hide();
                alert("修改成功");
                console.log(res);
            },
            error   :function (error) {
                alert("修改失败");
                console.log(error,'失败');
            }
        })
    }


    $("#modaltrigger").leanModal({ top : 100, overlay : 0.4, closeButton: ".modal_close" });
</script>
</html>
