<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.class1804.democustomer.dao.Clue.ClueDao">
    <!--获取线索列表-->
    <select id="getClue" resultType="Clue">
        select * from clue;
    </select>

    <!-- 根据负责人，客户，产品查询，返回满足条件的列表 -->
    <select id="getClueByParams" resultType="Clue">
        select distinct *,
        (select clueupdate_date from clueupdate where clueupdate_clueid=clue_id order by clueupdate_date desc limit 0,1) as clueupdate_date
        ,(select user_name from `user` where clue_userid=user_id) as uname
        ,(select customer_name from customer where clue_custome=customer_id) as cname
        ,(select product_name from product where product_id=clue_product) as pname
        from clue,`user` u

        <where>
             u.user_id=clue_userid
            <if test="clue_id >= 1">
                and clue_id = #{clue_id}
            </if>
            <if test="clue_userid >= 100001">
                and clue_userid = #{clue_userid}
            </if>
            <if test="clue_custome !=null and clue_custome !=''">
                and clue_custome = #{clue_custome}
            </if>
            <if test="clue_product >= 1">
                and clue_product = #{clue_product}
            </if>
            <if test="user_jurisdiction !=null and user_jurisdiction !=''">
                AND user_jurisdiction  &lt;= #{user_jurisdiction}
            </if>
        </where>
        limit #{start},#{pageSize}
    </select>

    <!-- 根据负责人，客户，产品查询返回总记录数 -->
    <select id="getClueCountByParams" resultType="int">
        select count(clue_id)
        from clue,`user`
        <where>
            user_id=clue_userid
            <if test="clue_userid >= 100001">
                and clue_userid = #{clue_userid}
            </if>

            <if test="clue_product >= 1">
                and clue_product = #{clue_product}
            </if>
            <if test="user_jurisdiction !=null and user_jurisdiction !=''">
                AND user_jurisdiction  &lt;= #{user_jurisdiction}
            </if>
            <if test="clue_custome >= 1">
                and clue_custome = #{clue_custome}
            </if>
        </where>
    </select>





    <insert id="setClue" parameterType="Clue">
        INSERT INTO clue VALUES (NULL,#{clue_content},#{clue_userid},#{clue_date},#{clue_custome},#{clue_product})
    </insert>

    <select id="getClueList" parameterType="Clue" resultType="Clue">
        select c.*,cu.clueupdate_date,cu.clueupdate_userid,cu.clueupdate_state from clue as c,clueupdate as cu  c.clue_id=cu.clueupdate_clueid
        <where>
            <if test="clue_userid >= 100001">
               and clue_userid = #{clue_userid}
            </if>
            <if test="clue_custome >= 1">
                and clue_custome = #{clue_custome}
            </if>
            <if test="clue_product >= 1">
               and clue_product = #{clue_product}
            </if>
        </where>
        ORDER BY cu.clueupdate_date desc LIMIT 0,1
    </select>

    <delete id="databaseClue">
        DELETE FROM clue WHERE clue_id = #{id}
    </delete>


    <select id="getCount" resultType="int" parameterType="int">
        SELECT COUNT(*) FROM clue
         <where>
             <if test="userid >= 100001">
                 and clue_userid = #{userid}
             </if>
             <if test="productid >= 1">
                 and clue_product = #{productid}
             </if>
         </where>
    </select>


</mapper>