<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.class1804.democustomer.dao.Customer.customerDao">

    <insert id="setCustomer" parameterType="Customer">
        INSERT INTO customer VALUES (NULL,#{customer_name},#{customer_gender},#{customer_number},#{customer_userid}
        ,#{customer_money},#{customer_jurisdiction},#{customer_address}
        <if test="customer_birthday ==null || customer_birthday =='' ">
            ,null
        </if>
        <if test="customer_birthday !=null and customer_birthday !='' ">
        ,#{customer_birthday}
        </if>
        ,#{customer_text})
    </insert>

    <select id="getCustomerList" resultType="Customer">
        SELECT * FROM customer
         <where>
             <if test="customer_gender != null and customer_gender != ''">
                 customer_gender = #{customer_gender}
             </if>
             <if test="customer_jurisdiction != null and customer_jurisdiction != ''">
                 customer_jurisdiction = #{customer_jurisdiction}
             </if>
             <if test="customer_name != null and customer_name != ''">
                 customer_name LIKE CONCAT('%',#{customer_name},'%')
             </if>
             <if test="customer_userid != null and customer_userid != ''">
                 customer_userid = #{customer_userid}
             </if>
             <if test="customer_id !=null">
                 customer_id = #{customer_id}
             </if>
         </where>

    </select>


    <update id="updateCustomerJ">
        UPDATE customer SET customer_jurisdiction = #{jurisdiction} WHERE customer_id = #{id}
    </update>

    <update id="updateCustomer" parameterType="Customer">
        UPDATE customer
        <set>
            <if test="customer_number != null and customer_number != ''">
                customer_number = #{customer_number}
            </if>
            <if test="customer_address != null and customer_address != ''">
                customer_address = #{customer_address}
            </if>
            <if test="customer_text != null and customer_text != ''">
                customer_text = #{customer_text}
            </if>
        </set>
        WHERE customer_id = #{customer_id}
    </update>


    <select id="customerCount" resultType="int" parameterType="int">
        select count(customer_id) from customer
        <where>
            <if test="gender = 0 and gender = 1">
                customer_gender = #{gender}
            </if>
            <if test="id > 0">
                customer_userid = #{id}
            </if>
        </where>
    </select>

    <!--/*功能新增*/
    /*连表查询：列表显示姓名，电话，跟进时间，跟进状态，备注，负责人等信息
    * 条件有：用户id，负责人名字，跟进时间，用户等级
    * */-->
    <select id="selectClueCusUser" resultType="ClueCustomerUser">
        select customer_id ,customer_name,customer_number,customer_text,customer_userid,user_name,clue_date,clue_state from customer c
        left join `user` u
        on customer_userid=user_id
        left join clue cl
        on customer_id=clue_custome
        <trim prefix="where" prefixOverrides="and | or">
            <if test="customer_id !=null">
                and customer_id=#{customer_id}
            </if>
            <if test="user_id !=null">
               and u.user_id=#{user_id}
            </if>
            <if test="clue_date !=null and clue_date !=''">
            AND cl.clue_date LIKE CONCAT ('%',#{clue_date},'%')
            </if>
            <if test="user_jurisdiction !=null and user_jurisdiction !=''">
            AND u.user_jurisdiction  &lt;= #{user_jurisdiction}
            </if>
            <if test="user_name !=null and user_name !=''">
            AND u.user_name LIKE CONCAT ('%',#{user_name},'%')
            </if>
        </trim>
        group by customer_name,clue_date
        order by clue_date desc
        <if test="from !=null and pageSize !=null" >
            limit #{from},#{pageSize};
        </if>
    </select>


    <!--用于分页的查询总数-->
    <select id="selectClueCusUserCount" resultType="Integer">
        select count(1) from(
        select customer_id ,customer_name,customer_number,customer_text,customer_userid,user_name,clue_date,clue_state
        from customer c
        left join `user` u
        on customer_userid=user_id
        left join clue cl
        on customer_id=clue_custome
        <trim prefix="where" prefixOverrides="and | or">
            <if test="user_id !=null">
                and u.user_id=#{user_id}
            </if>
            <if test="clue_date !=null and clue_date !=''">
                AND cl.clue_date LIKE CONCAT ('%',#{clue_date},'%')
            </if>
            <if test="user_jurisdiction !=null and user_jurisdiction !=''">
                AND u.user_jurisdiction &lt;= #{user_jurisdiction}
            </if>
            <if test="user_name !=null and user_name !=''">
                AND u.user_name LIKE CONCAT ('%',#{user_name},'%')
            </if>
        </trim>
        group by customer_name,clue_date
        order by clue_date desc
        ) A
  </select>
</mapper>