<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.class1804.democustomer.dao.Product_category.Product_categoryDao">

    <!--新增产品类别-->
    <insert id="product_categoryAdd" parameterType="product_category">
        insert into product_category values (null,#{pc_name})
    </insert>

    <!--查询产品类别-->
    <select id="getProduct_categorys" resultType="Product_category">
        select * from product_category where pc_id=#{pc_id}
    </select>

</mapper>