<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<span th:replace="/commons/header::header"></span>
    
    <div class="contentwrapper padding10">
    	<div class="errorwrapper error403">
        	<div class="errorcontent">
                <h1>Update in Progress</h1>
                <h3>Please come back again soon as we're working on the issue now.</h3>
                
                <p>Sorry this site is temporarily unavailable while an essential software update is being performed. <br />Please try again in an hour or less when the update should be complete.</p>
                <br />
                <button class="stdbtn btn_black" onclick="history.back()">Go Back to Previous Page</button> &nbsp; 
                <button onclick="location.href='dashboard.html'" class="stdbtn btn_orange">Go Back to Dashboard</button>
            </div><!--errorcontent-->
        </div><!--errorwrapper-->
    </div>    
    

<span th:replace="/commons/js::js"></span>
</html>
